@model db8abase.Models.ViewModels.PairingsTabulationViewModel
@{
    ViewData["Title"] = "DetermineNumberOfElimRounds";
}
<br />
<br />
<h1 style="text-align:center; text-decoration:underline">Elmination Round Pairing</h1>
<h4 style="text-align:center">@Html.DisplayFor(model => model.Tournament.Name)</h4>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                Room
            </th>
            <th>
                Affirmative
            </th>
            <th>
                Negative
            </th>
            <th>
                Judge
            </th>
            <th>
                Philosophy
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.AffirmativeTeams.Count(); i++)
        {
            <tr class="table-secondary">
                <th scope="row">
                    @Html.DisplayFor(model => model.Rooms[i].RoomNumber)
                </th>
                <td>
                    @Html.DisplayFor(model => model.AffirmativeTeams[i].IndividualTeamName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NegativeTeams[i].IndividualTeamName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Judges[i].LastName), @Html.DisplayFor(model => model.Judges[i].FirstName)
                </td>
                <td>
                    <a asp-controller="Home" asp-action="ViewPhilosophy" asp-route-id="@Model.Judges[i].JudgeId" style="color:#087485">Philosophy</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>Elimination round pairings have been successfully sent with the above information.  Click below to return to Tournament Portal</p>
<p>
    <a asp-controller="TournamentDirectors" asp-action="TournamentPortal" style="color:#087485">Send Pairings</a>
</p>
</p>