@model db8abase.Models.ViewModels.PairingsTabulationViewModel
@{
    ViewData["Title"] = "PairRoundTwo";
}
<br />
<br />
<h1 style="text-align:center; text-decoration:underline">Round 1 Pairing</h1>
<h4 style="text-align:center">@Html.DisplayFor(model => model.Tournament.Name)</h4>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                Room
            </th>
            <th>
                Affirmative
            </th>
            <th>
                Negative
            </th>
            <th>
                Judge
            </th>
            <th>
                Ballot Status
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.AffirmativeTeams.Count(); i++)
        {
            <tr class="table-secondary">
                <th scope="row">
                    @Html.DisplayFor(model => model.Rooms[i].RoomNumber)
                </th>
                <td>
                    @Html.DisplayFor(model => model.AffirmativeTeams[i].IndividualTeamName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NegativeTeams[i].IndividualTeamName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Judges[i].LastName), @Html.DisplayFor(model => model.Judges[i].FirstName);
                </td>
                <td>
                    Ballot Status
                </td>
            </tr>
        }
    </tbody>
</table>
<p>Click below to return to the portal</p>
<p>
    <a asp-action="TournamentPortal">Tournament Portal</a>
</p>