@model IEnumerable<db8abase.Models.Tournament>

@{
    ViewData["Title"] = "TournamentManagement";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TournamentManagement</title>
</head>
<body>
    <br />
    <br />
    <h1 style="text-align:center; text-decoration:underline">Tournament Listing</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TournamentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfRounds)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntryFee)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TournamentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.NumberOfRounds)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.EntryFee)/team
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.TournamentId">Tournament Details</a> |
                        <a asp-action="EnterTeams" asp-route-id="@item.TournamentId">Enter Teams</a> |
                        <a asp-action="EnterJudges" asp-route-id="@item.TournamentId">Enter Judges</a> |
                        <a asp-action="ViewTournamentDetails" asp-route-id="@item.TournamentId">My Entries</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
